section#auditLogModule.module.container.px-5
  .jumbotron.bg-transparent.pb-0
    h1.display-4.text-center Audit Log
  .px-5.mt-5.d-flex
    table.table.table-responsive-xl
      thead
        tr
          th(scope='col') #
          th(scope='col') At
          th(scope='col') By
          th(scope='col') Old
          th(scope='col') New
      tbody
        each change, i in []
          tr
            if i < 3
              th(scope='row') #{1 - i}
              td #{new Date(change.at).toLocaleString()}
              td #[+user('3798319017402109')]
              td #[pre #[code #{JSON.stringify(change.old, null, 2)}]]
              td #[pre #[code #{JSON.stringify(change.new, null, 2)}]]