doctype
html(lang='en')
  head
    include includes/header.pug

    link(rel='stylesheet', href='/css/index.css')
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 I2Z7
      p.lead The best discord bot that can help you to build your server.
        i.fas.fa-star.pl-2
      a.btn.btn-dark(href='/login') Start Now